* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.contenu {
    background-color: #EEF9FF;
    color: #081D3D;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.cont {
    max-width: 100%;
    padding: 20px;
}

.contm {
    display: flex;
    justify-content: space-between;
    background-color: #091E3E;
    color: white;
    height: 40px;
    max-width: 100%;
    align-items: center;
}

.contf ul,
.contr ul {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 8px;
}

.contf ul li {
    margin-right: 15px;
}

.contr ul li {
    border: 1px solid white;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msn .ml {
    color: black;
}

.msn .ml ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.msn .ml ul li {
    font-size: 18px;
}

.section5-haut {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #48B9E2;
    margin-bottom: 5px;
}

.section5-hautt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #081D3D;
}

.separation {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2%;
}

.separation .trait {
    height: 10px;
    width: 2px;
    background-color: #48B9E2;
}

.separation .traitt {
    height: 10px;
    width: 5px;
    background-color: #48B9E2;
}

.section5 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
}

.section5-img1 {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.section5 .section5-img1 img {
    width: 100%;
    height: auto;
}

.carousel-image {
    width: 100%; 
    height: auto; 
    display: block; 
    margin-top: 10px; 
    
}



.client ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.client ul li img {
    /* width: 100px; */
    height: auto;
}





.footerp {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #091E3E;
    justify-content: center;
    text-align: center;
}


.footerl{
    background-color: #06A3DA;
    color: #ffffff;
    height: 310px;
}

.pm{
    background-color: #091E3E;
    height: 310px;
}

.footers{
    background-color: #091E3E;
    height: 310px;
}
.footerss i{
    color: #48B9E2;
    

}

.footerks{
    background-color: #091E3E;
    height: 310px;
}

.test .text{
    color: #ffffff;
}
.test {
    margin-top: 50px;
    padding-bottom: 10px;
}

.s{
    padding: 10px 10px;
    margin-top: 10px;
    border: none;
    color: #ffffff;
}

button{
    background-color: #091E3E;
}

button:hover{
    background-color: #ffffff;
}

.titt{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 25px;
    text-align: start;
    margin-left: 55px;
    border-bottom: 4px solid #06A3DA;
    width: 145px;
}

.iconn{
  
    text-align: start;
    padding-left: 10px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 15px;
    margin-left: 45px;
}
.iconn i{
    color: #06A3DA;

}

.iconns{
    
    margin-top: 25px;
    font-size: 16px;
    text-align: start;
    margin-left: 55px;
}

.iconns i {
    padding: 2px 5px;
    border: 1px solid #06A3DA;
    background-color: #06A3DA;
}

.footerss{
    text-align: start;
    margin-left: 45px;
    margin-top: 20px;
    color: #06A3DA;
}

.footerss a, i{
    text-decoration:none;
    color: #ffffff;
    padding-top: 5px;
}