body{
    width: 100%;
    /* background-color: aqua; */
}
:root{
    --bleu:#48B9E2;
    --clair:#EEF9FF;
    --ombre:#838FA0;
}

.section5-haut {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:#48B9E2;
    margin-bottom: 5px;
    
}
.section5-hautt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #081D3D;
   
    
}
.separation{
    /* border: 1px solid #ccc; */
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2%;
}
.separation .trait{
    height: 10%;
    width: 2%;
    margin-left: 110vh;
    color: #48B9E2;

}
.separation .traitt{
   height: 10%;
    width: 5%;
    margin-right: 110vh;
    color:#48B9E2;
}
.section5{
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 5%;
    margin-left: 10px;
}
.section5-img1{
    /* background-color: #fff; */
    padding: 10px;
    box-shadow: 0 0 15px rgb(0, 0,0,0.1);
  
}
.section5 .section5-img1 .image{
    /* background-color:var(--ombre); */
    margin-bottom: -72px ;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
   
}
.flou{
    content: '';
    background-color: rgba(0, 0, 0, 0.544);
   position: absolute;
    width: 28.6%;
    height: 13%;
    margin-top: 19.2vh;
    margin-left: 1.3vh;
    
}
@media (max-width: 768px) {
    .section5 {
        grid-template-columns: 1fr; /* Une seule colonne pour les écrans plus petits */
        gap: 10px; /* Augmenter l'espacement entre les éléments */
    }

    .separation .trait,
    .separation .traitt {
        display: none; /* Masquer les traits pour les écrans plus petits */
    }

    .flou {
        display: none; /* Masquer l'élément "flou" pour les écrans plus petits */
    }
}

/* Pour les mobiles */
@media (max-width: 576px) {
    
    .
.section5 {
        grid-template-columns: 1fr; /* Une seule colonne pour les écrans plus petits */
        gap: 10px; /* Augmenter l'espacement entre les éléments */
    }

    .separation .trait,
    
   
.separation .traitt {
        display: none; /* Masquer les traits pour les écrans plus petits */
    }

    .flou {
        display: none; /* Masquer l'élément "flou" pour les écrans plus petits */
    }
}