/* debut du section 3 pricing */
body{
    font-family: 'sans-serif';
}
.section-3-4{
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    align-items: center;
}
.pricing{
    display: flex;
    /* background-color: blue; */
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    /* padding-top: 2%; */
}
.pricing-titre , .commentaire-titre{
    text-align: center;

}
.pricing-hr{
    width: 40%;
    border: 0.2em solid #06A3DA;
    display: block;
    margin: 0 auto;
}
.carte-pricing {
    display: grid;
    grid-template-columns:repeat(auto-fill , 400px);
    width: 100%;
    /* background-color: black; */
    margin: 0 auto;
    align-items: center; 
    justify-content: center;
    padding: 3% 0 3% 0;
    /* padding-top: -25px; */
}
.carte-pricing-un{
    border: 1px solid #EEF9FF;
    /* height: 100%; */
    padding-left: 10%;
    /* box-shadow: 1 #06A3DA; */
}
.carte-pricing-un-deux , .profil-commentaire-un{
    background-color: #EEF9FF;
}

.carte-pricing-un h3 , .name-commentaire{
    color: #06A3DA;
    font-size: 20px;
    /* background-color: black; */
    /* padding-left: 5%; */
}
.carte-pricing-un p , .commentaire-lorem , .pricing-liste{
    font-size: 16px;
    /* background-color: blue; */

}
.pricing-prix{
    font-size: 30px;
}
.pricing-listes-mere{
    width: 85%;
}
.icone-princing{
 float:right 
}
.pricing-liste{
    list-style-type: none;
    /* font-size: 12px; */
    display: inline;
    align-self: flex-start;
    justify-content: space-around;
}
.bouton-pricing{
    background-color: #06A3DA;
    color: white;
    text-align: center;
    border: none;
    margin-top: 15%;
    height: 25px;
    font-size: 15px;
}
/* fin du section 3 pricing */
/* debut du section 4 commentaire */
.section-commentaire{
    display: flex;
    /* background-color: blue; */
     flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;

}
.section-commentaire-un{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    width: 100%;
    /* background-color: black;  */
    margin: 0 auto;
    align-items: center; 
    justify-content: center;
    padding: 3% 0 3% 0 ;
    /* border: 1px solid red; */
}
.carte-commentaire{
    display: grid;
    grid-template-columns:repeat(auto-fill , 400px);
    width: 100%;
    /* background-color: black; */
    margin: 0 auto;
    align-items: center; 
    justify-content: center;
    
    
}
.profil-commentaire{
    display: flex;
    width: 64%;
    /* background-color: azure; */
    justify-content: center;
    padding-top: 5%;

}
.image-commentaire{
    width: 81px;
    height: 81px;
}
.commentaire-lorem{   
}
.lorem-un{
    width: 84%;
    /* display: inline-flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
    /* background-color: black; */

}
.pagination-commentaire{
    display: flex;
    /* background-color: black; */
    justify-content: center;
    padding-top: 25px;

}

/* fin du section 4 commentaire */